# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Entornos virtuales
# =========================
venv/
env/
.venv/

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# Archivos temporales
# =========================
*.log
*.tmp
*.bak
*.swp

# =========================
# Imágenes temporales
# =========================
que_ve_la_ia.jpg

# =========================
# Carpetas de entrenamiento
# =========================
DATASET/
RafDb/
archive/

# =========================
# TensorBoard
# =========================
logs/

# =========================
# Caché
# =========================
.pytest_cache/
.mypy_cache/

# =========================
# Sistema operativo
# =========================
.DS_Store
Thumbs.db

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Variables de entorno
# =========================
.env

# =========================
# Archivos compilados
# =========================
*.egg-info/
build/
dist/